.color-body {
  height: 100vh;
  background-color: #f8f8f8;
}
.font {
  font-family: "Almarai", sans-serif;
  font-family: "Cairo", sans-serif;
  font-size: 20px;
}

.rectangle {
  height: 600px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 1px 4px 4px 1px rgba(85, 85, 85, 0.25);
}

.dates-count {
  color: #555555;
  font-weight: 600;
  margin-bottom: 20px;
}

.btn-style {
  width: 200px;
  border-radius: 8px;
  color: white;
  background-color: #224f61;
}

.img-avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.mt-0 {
  margin-top: 0;
}
